# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="postgresql://postgres:1234@localhost:5432/newdb?schema=public"
# stripe
STRIPE_SECRET_KEY= sk_test_XXXXXXXXXXXXXXXXXXXXXXXX
STRIPE_WEBHOOK_SECRET=whsec_XXXXXXXXXXXXXXXXXXXX

# JWT_ACCESS_SECRET=access-secret
JWT_REFRESH_SECRET=refresh-secret
JWT_REFRESH_EXPIRES=7d
JWT_ACCESS_SECRET=bangladesh_has_many_1971

# cloudinary

CLOUDINARY_NAME=ds6qok1on
CLOUDINARY_API_KEY=195681716749584
CLOUDINARY_API_SECRET=cAmVaBiNmY0SSUBcNylr-Uj1N5A

# Email Configuration for OTP
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="sheikh7aali@gmail.com"
SMTP_PASS="nbobimhaplbbmbdb"
SMTP_FROM="noreply@yourapp.com"


//escn jzlt hosa rdhf
api_key//nbob imha plbb mbdb