# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# DATABASE_URL="postgresql://postgres:1234@localhost:5432/vendor_buyer?schema=public"
#  DATABASE_URL=postgresql://neondb_owner:npg_r3NJ4OyAnlqs@ep-little-feather-ahnt7bv3-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
APP_BASE_URL = http://localhost:3000
DATABASE_URL=postgresql://dbname_fajy_user:zqu6p9gvs3yovK1oIoFMgY9A43EYP7Wj@dpg-d7ck3jpj2pic73egle5g-a.oregon-postgres.render.com/dbname_fajy?sslmode=require

# DATABASE_URL=postgresql://postgres_39d7_user:ttbhjn0sK0zxahwyokyHvC1D2WfSFXJE@dpg-d5kjh8re5dus73abk7a0-a.oregon-postgres.render.com/postgres_39d7
# stripe
STRIPE_SECRET_KEY=sk_test_51Ssuj3QoZMIxTPrQONfXfss6Iu0jSc0BlRY2ykrxhcNEkewfjPgb0aBaL1QGFCmsEyRhI0DIlstV683aA5wKc09o00NCCCznIb
STRIPE_WEBHOOK_SECRET=whsec_JRLKIZkcrPLY63OIwk3hX00yFMMBw1Io
ADMIN_COMMISSION_RATE=0.1
STRIPE_CONNECT_RETURN_URL=http://localhost:3000/stripe/onboarding/return
STRIPE_CONNECT_REFRESH_URL=http://localhost:3000/stripe/onboarding/refresh

# JWT_ACCESS_SECRET=access-secret
JWT_REFRESH_SECRET=refresh-secret
JWT_REFRESH_EXPIRES=7d
JWT_ACCESS_SECRET=bangladesh_has_many_1971

JWT_ADMIN_ACCESS_SECRET=  default_admin_secret 
JWT_ADMIN_REFRESH_SECRET = JWT_ADMIN_REFRESH_SECRET
SUPER_ADMIN_SECRET = my_name_is_ali
# cloudinary

CLOUDINARY_NAME=ds6qok1on
CLOUDINARY_API_KEY=195681716749584
CLOUDINARY_API_SECRET=cAmVaBiNmY0SSUBcNylr-Uj1N5A

# Email Configuration for OTP
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="sheikh7aali@gmail.com"
SMTP_PASS="nbobimhaplbbmbdb"
SMTP_FROM="noreply@yourapp.com"
# Google /apple
# GOOGLE_CLIENT_ID =72804533675-mamdrmro57ch9pko3l5d98bjm9lbqith.apps.googleusercontent.com
GOOGLE_CLIENT_ID=222814341874-lpaf7hu3sljqbqpl3at14824kk9dmnk5.apps.googleusercontent.com
 APPLE_CLIENT_ID=2
    APPLE_TEAM_ID=2
    APPLE_KEY_ID=2
    APPLE_PRIVATE_KEY=2
# //escn jzlt hosa rdhf
# api_key//nbob imha plbb mbdb
# VPS SERVER
# https://eflip275.hostpapavps.net:2087/@_uk@b2x=,6p



# # ------------psot gresl
# ALTER USER postgres WITH PASSWORD '1234'; 

# CREATE DATABASE dashboard;

# CREATE USER ali WITH PASSWORD '1234';

# GRANT ALL PRIVILEGES ON DATABASE dashboard TO ali;